@model _3M.Comodato.Front.Models.Vendedor

@{
    ViewBag.Title = "Vendedor";
}

<i class="fas fa-cubes fa-3x fa-pull-left"></i>
<h3>Vendedor (Excluir)</h3>

<h5>Confirma exclusão deste registro?</h5>
<div>
    <hr />

    <div class="form-row">
        <div class="form-group col-2">
            <label class="control-label font-weight-bold">Código</label>
            <br />
            @Html.DisplayFor(model => model.CD_VENDEDOR)
        </div>

        <div class="form-group col-6">
            <label class="control-label font-weight-bold">Nome</label>
            <br />
            @Html.DisplayFor(model => model.NM_VENDEDOR)
        </div>

        <div class="form-group col-4">
            <label class="control-label font-weight-bold">Apelido</label>
            <br />
            @Html.DisplayFor(model => model.NM_APE_VENDEDOR)
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-8">
            <label class="control-label font-weight-bold">Endereço</label>
            <br />
            @Html.DisplayFor(model => model.EN_ENDERECO)
        </div>

        <div class="form-group col-4">
            <label class="control-label font-weight-bold">Bairro</label>
            <br />
            @Html.DisplayFor(model => model.EN_BAIRRO)
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            <label class="control-label font-weight-bold">CEP</label>
            <br />
            @Html.DisplayFor(model => model.EN_CEP)
        </div>

        <div class="form-group col-3">
            <label class="control-label font-weight-bold">Cidade</label>
            <br />
            @Html.DisplayFor(model => model.EN_CIDADE)
        </div>

        <div class="form-group col-2">
            <label class="control-label font-weight-bold">Estado</label>
            <br />
            @Html.DisplayFor(model => model.EN_ESTADO)
        </div>

        <div class="form-group col-4">
            <label class="control-label font-weight-bold">Telefone</label>
            <br />
            @Html.DisplayFor(model => model.TX_TELEFONE)
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
            <label class="control-label font-weight-bold">Caixa Postal</label>
            <br />
            @Html.DisplayFor(model => model.EN_CX_POSTAL)
        </div>

        <div class="form-group col-6">
            <label class="control-label font-weight-bold">E-mail</label>
            <br />
            @Html.DisplayFor(model => model.TX_EMAIL)
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-primary btn-sm" />
            @Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/Comodato/Util.js"></script>

    <script type="text/javascript">
     @Model.JavaScriptToRun

        function MensagemSucesso() {
            var mensagem = '@_3M.Comodato.Utility.ControlesUtility.Constantes.MensagemExclusaoSucesso';

            AlertaRedirect("Aviso", mensagem, "window.location = '../Vendedor';");
        };
    </script>

}





