@model _3M.Comodato.Front.Models.Vendedor

@{
    ViewBag.Title = "Vendedor";
}

<i class="fas fa-cubes fa-3x fa-pull-left"></i>
<h3>Vendedor (Editar)</h3>

<div class="well">

    @using (Html.BeginForm())
    {
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.CD_VENDEDOR)

        @*<div class="form-row">
            <div class="form-group col-4">
                <label class="control-label">Código</label>
                @Html.EditorFor(model => model.CD_VENDEDOR, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => Model.CD_VENDEDOR, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-row">
            <div class="form-group col-7">
                <label class="control-label">Nome</label>
                @Html.EditorFor(model => model.NM_VENDEDOR, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.NM_VENDEDOR, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-3">
                <label class="control-label">Apelido</label>
                @Html.EditorFor(model => model.NM_APE_VENDEDOR, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.NM_APE_VENDEDOR, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-2">
                <label class="control-label">Condição (Ativo)</label>
                @Html.DropDownListFor(model => model.FL_ATIVO, new SelectList(Model.SimNao, "value", "key"), new { @class = "valid form-control col-12" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-8">
                <label class="control-label">Endereço</label>
                @Html.EditorFor(model => model.EN_ENDERECO, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.EN_ENDERECO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-4">
                <label class="control-label">Bairro</label>
                @Html.EditorFor(model => model.EN_BAIRRO, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.EN_BAIRRO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-3">
                <label class="control-label">CEP</label>
                @Html.EditorFor(model => model.EN_CEP, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.EN_CEP, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-5">
                <label class="control-label">Cidade</label>
                @Html.EditorFor(model => model.EN_CIDADE, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.EN_CIDADE, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-1">
                <label class="control-label">Estado</label>
                @Html.EditorFor(model => model.EN_ESTADO, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.EN_ESTADO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-3">
                <label class="control-label">Telefone</label>
                @Html.EditorFor(model => model.TX_TELEFONE, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.TX_TELEFONE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-4">
                <label class="control-label">Caixa Postal</label>
                @Html.EditorFor(model => model.EN_CX_POSTAL, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.EN_CX_POSTAL, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-8">
                <label class="control-label">E-mail</label>
                @Html.EditorFor(model => model.TX_EMAIL, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => Model.TX_EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <label class="control-label">Vincular vendedor a um usuário de sistema</label>
                @Html.DropDownListFor(model => model.usuario.nidUsuario, new SelectList(Model.usuarios, "nidUsuario", "cnmNome"), new { @class = "js-example-basic-single ", @style = "width: 100% " })
            </div>
            <div class="form-group col-6">
                <label class="control-label">Gerente Regional</label>
                @Html.DropDownListFor(model => model.usuarioGerenteRegional.nidUsuario, new SelectList(Model.usuariosGerentesRegionais, "nidUsuario", "cnmNome"), new { @class = "js-example-basic-single ", @style = "width: 100% " })
            </div>
        </div>
    </div>

        <div class="form-group">
            <input type="submit" value="Gravar" class="btn btn-primary btn-sm" />
            @Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
        </div>

    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/Comodato/Util.js"></script>
    <script type="text/javascript" src="~/Scripts/Comodato/Vendedor.js"></script>

    <script type="text/javascript">
     @Model.JavaScriptToRun

        function MensagemSucesso() {
            var mensagem = '@_3M.Comodato.Utility.ControlesUtility.Constantes.MensagemGravacaoSucesso';

            AlertaRedirect("Aviso", mensagem, "window.location = '../Vendedor';");
        };
    </script>

}








