@model _3M.Comodato.Front.Models.SumarizadosDetalhe

@using GridMvc.Html

@{
    ViewBag.Title = "Sumarizados";
}

<i class="fas fa-print fa-3x fa-pull-left"></i>
<h3>Sumarizados</h3>

<div class="well">
    <hr />

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-row">

                <div class="form-group">
                    <label class="control-label">Período (Data de Aprovação)</label>
                    <div id="DT_DATAS-container">
                        @*<div class="input-group date">*@
                        <div class="input-daterange input-group">
                            @Html.TextBoxFor(model => model.DT_INICIAL, "{0:dd/MM/yyyy}", new { @class = "form-control col-12" })
                            <span class="input-group-addon">&nbsp;até&nbsp;</span>
                            @Html.TextBoxFor(model => model.DT_FINAL, "{0:dd/MM/yyyy}", new { @class = "form-control col-12" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary btn-sm" type="button" id="btnImprimir">Imprimir</button>
            <button class="btn btn-primary btn-sm" type="button" id="btnLimpar">Limpar</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/Comodato/Util.js"></script>
    <script type="text/javascript" src="~/Scripts/Comodato/Sumarizados.js"></script>

    <script>
        var URLObterLista = "@Url.Action("ObterListaSumarizados", "Sumarizados")";
        @*var URLImprimir = "@Url.Action("Imprimir", "Sumarizados")";*@
        var URLAPI = "@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro(_3M.Comodato.Utility.ControlesUtility.Constantes.URLAPI)";
        var URLSite = "@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro(_3M.Comodato.Utility.ControlesUtility.Constantes.URLSite)";
        var URLCriptografarChave = "@Url.Action("CriptografarChaveJson")";
        var token = "@Convert.ToString(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).token)";
        var nidUsuario = @Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario.nidUsuario);
    </script>
}

