<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="IE=10">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>@ViewBag.Title - 3M.Comodato</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*Para usar o GRID.MVC*@
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/Comodato/Modal.css")" rel="stylesheet" type="text/css" />*@
</head>

<body class="bodyBackGround">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#a00808;">
                    <a class="navbar-brand" href="~/Home">
                        <img src="~/Images/3M Logo.png" class="img-thumbnail" style="height: 35px" />
                        Comodato
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @if (Session["_CurrentUser"] != null)
                    {
                        <!--Barra de Menus e Usuário Logado-->
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav mr-auto">
                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuCadastro") == true)
                                {
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navCadastro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
                                        <div class="dropdown-menu" aria-labelledby="navCadastro">
                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuAtivo") == true)
                                            {
                                                @Html.ActionLink("Ativo", "Index", "Ativo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuCliente") == true)
                                            {
                                                @Html.ActionLink("Cliente", "Index", "Cliente", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuUsuarioCliente") == true)
                                            {
                                                @Html.ActionLink("Cliente X Usuário", "Index", "UsuarioCliente", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuConsumivel") == true)
                                            {
                                                @Html.ActionLink("Consumível", "Index", "Consumivel", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuContato") == true)
                                            {
                                                @Html.ActionLink("Contato", "Index", "Contato", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuContrato") == true)
                                            {
                                                @Html.ActionLink("Contrato", "Index", "Contrato", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuEquipamentoXCliente") == true)
                                            {
                                                @Html.ActionLink("Equipamento X Cliente", "Index", "AtivoCliente", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuEstoqueCadastro") == true)
                                            {
                                                @Html.ActionLink("Unidade de Estoque", "Index", "Estoque", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuUsuarioXWFGrupo") == true)
                                            {
                                                @Html.ActionLink("Usuário x Grupo WorkFlow", "Index", "UsuarioXWFGrupo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuTecnico") == true)
                                            {
                                                @Html.ActionLink("Técnico", "Index", "Tecnico", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuVendedor") == true)
                                            {
                                                @Html.ActionLink("Vendedor", "Index", "Vendedor", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuAnaliseSatisfacao") == true)
                                            {
                                                @Html.ActionLink("Pesquisa de Satisfação", "Index", "AnaliseSatisfacao", new { area = "" }, new { @class = "dropdown-item" })
                                            }
                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSegmento") == true)
                                            {
                                                @Html.ActionLink("Segmento", "Index", "Segmento", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @*@Html.ActionLink("Devolução de Peças", "Index", "DevolucaoPecas", new { area = "" }, new { @class = "dropdown-item" })*@
                                        </div>
                                    </li>
                                }

                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuTabelaApoio") == true)
                                {
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navTabelasApoio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tabelas de Apoio</a>
                                        <div class="dropdown-menu" aria-labelledby="navTabelasApoio">
                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuEmpresa") == true)
                                            {
                                                @Html.ActionLink("Empresa", "Index", "Empresa", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuExecutivo") == true)
                                            {
                                                @Html.ActionLink("Executivo", "Index", "Executivo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuGrupo") == true)
                                            {
                                                @Html.ActionLink("Grupo", "Index", "Grupo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuGrupoModelo") == true)
                                            {
                                                @Html.ActionLink("Grupo de Modelo", "Index", "GrupoModelo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuLinhaProduto") == true)
                                            {
                                                @Html.ActionLink("Linha de Produto", "Index", "LinhaProduto", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuModelo") == true)
                                            {
                                                @Html.ActionLink("Modelo", "Index", "Modelo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuPeca") == true)
                                            {
                                                @Html.ActionLink("Peça", "Index", "Peca", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuRazaoComodato") == true)
                                            {
                                                @Html.ActionLink("Razão do Comodato", "Index", "RazaoComodato", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSituacaoEquipamento") == true)
                                            {
                                                @Html.ActionLink("Situação do Equipamento", "Index", "SituacaoAtivo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuFuncao") == true)
                                            {
                                                @Html.ActionLink("Função", "Index", "TBFuncao", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuStatusContrato") == true)
                                            {
                                                @Html.ActionLink("Status do Contrato", "Index", "StatusContrato", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuStatusEquipamento") == true)
                                            {
                                                @Html.ActionLink("Status do Equipamento", "Index", "StatusAtivo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuTipo") == true)
                                            {
                                                @Html.ActionLink("Tipo de Alocação", "Index", "Tipo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                        </div>
                                    </li>
                                }

                                @*@if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuContratos") == true)
        {
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navContratos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contratos</a>
                <div class="dropdown-menu" aria-labelledby="navContratos">
                    @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuContrato") == true)
                    {
                        @Html.ActionLink("Contrato", "Index", "Contrato", new { area = "" }, new { @class = "dropdown-item" })
                    }
                </div>
            </li>
        }*@

                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuAtendimento") == true)
                                {
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navAtendimento" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Atendimento</a>
                                        <div class="dropdown-menu" aria-labelledby="navAtendimento">
                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuAgendaAtendimento") == true)
                                            {
                                                @Html.ActionLink("Agenda de Atendimento", "Index", "Agenda", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuConsultaConfirmaVisita") == true)
                                            {
                                                @Html.ActionLink("Consulta/Confirma Visita", "ConsultaConfirmaVisita", "Agenda", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "HistoricoVisita") == true)
                                            {
                                                @Html.ActionLink("Histórico de Visitas", "Index", "HistoricoVisita", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            <div class="dropdown-divider"></div>

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSolicitacaoAtendimento") == true)
                                            {
                                                @Html.ActionLink("Solicitação de Atendimento", "Index", "SolicitacaoAtendimento", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuTecnicoXCliente") == true)
                                            {
                                                @Html.ActionLink("Técnico x Cliente - Escala de técnicos para atendimento", "Index", "TecnicoXCliente", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            <div class="dropdown-divider"></div>

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuKAT") == true)
                                            {
                                                @Html.ActionLink("KAT", "Index", "KAT", new { area = "" }, new { @class = "dropdown-item" })
                                            }
                                        </div>
                                    </li>
                                }

                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuEstoque") == true)
                                {
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navEstoque" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Estoque</a>
                                        <div class="dropdown-menu" aria-labelledby="navEstoque">

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuConsultaEstoque") == true)
                                            {
                                                @Html.ActionLink("Consulta Estoque", "Index", "EstoqueIntermediario", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuMovimPecas") == true)
                                            {
                                                @Html.ActionLink("Movimentação de Peças", "Index", "MovimPecas", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            <div class="dropdown-divider"></div>

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuPlanoZero") == true)
                                            {
                                                @Html.ActionLink("Plano Zero", "Index", "PlanoZero", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            <div class="dropdown-divider"></div>

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSolicitacaoPecas") == true)
                                            {
                                                @Html.ActionLink("Solicitação de Peças", "Index", "SolicitacaoPecas", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuAprovaSolPecas") == true)
                                            {
                                                @Html.ActionLink("Aprova Solicitação de Peças", "AprovaSolicitacaoPecas", "SolicitacaoPecas", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuConfRecebimPecas") == true)
                                            {
                                                @Html.ActionLink("Confirma Recebimento de Peças", "ConfirmaRecebimentoPecas", "SolicitacaoPecas", new { area = "" }, new { @class = "dropdown-item" })
                                            }



                                        </div>
                                    </li>
                                }



                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuWorkflow") == true)
                                {

                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navWorkflow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Workflow</a>
                                        <div class="dropdown-menu" aria-labelledby="navWorkflow">
                                            @Html.ActionLink("Acompanhamento", "Index", "Workflow", new { area = "" }, new { @class = "dropdown-item" })
                                            @Html.ActionLink("TMA", "Index", "MonitoramentoWF", new { area = "" }, new { @class = "dropdown-item" })
                                            @Html.ActionLink("Solicitação Envio", "PedidoEnvio", "Workflow", new { area = "" }, new { @class = "dropdown-item" })
                                            @Html.ActionLink("Solicitação Devolução", "PedidoDevolucao", "Workflow", new { area = "" }, new { @class = "dropdown-item" })

                                        </div>

                                    </li>
                                }
                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuReclamacao") == true)
                                {

                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navRR" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatorio Reclamação</a>
                                        <div class="dropdown-menu" aria-labelledby="navRR">
                                            @Html.ActionLink("Acompanhamento Relatório Reclamação", "Index", "RelatorioReclamacao", new { area = "" }, new { @class = "dropdown-item" })

                                        </div>

                                    </li>
                                }

                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuTreinamento") == true)
                                 {

                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navRR" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Treinamento</a>
                                        <div class="dropdown-menu" aria-labelledby="navRR">
                                            @Html.ActionLink("Vídeos treinamento EAD", "Index", "TreinamentosEAD", new { area = "" }, new { @class = "dropdown-item" })

                                        </div>

                                    </li>
                                }






                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuRelatorios") == true)
                                {
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navRelatorio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatórios</a>
                                        <div class="dropdown-menu" aria-labelledby="navRelatorio">
                                            @*@if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuRibbonEtiqueta") == true)
        {
            @Html.ActionLink("Ribbon + Etiqueta", "Index", "RiboonEtiqueta", new { area = "" }, new { @class = "dropdown-item" })
        }*@

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuRelAgenda") == true)
                                            {
                                                @Html.ActionLink("Agenda de Atendimento", "Index", "CarteiraAtendimento", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuGeralManutencao") == true)
                                            {
                                                @Html.ActionLink("Geral de Manutenção", "Index", "GeralManutencao", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuManutencao") == true)
                                            {
                                                @Html.ActionLink("Manutenção", "Index", "Manutencao", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "KatTecnico") == true)
                                            {
                                                @Html.ActionLink("Kat por Tecnico", "Index", "KatTecnico", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            <div class="dropdown-divider"></div>

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuEstoqueIntermediario") == true)
                                            {
                                                @Html.ActionLink("Estoque Intermediário", "Relatorio", "EstoqueIntermediario", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuPedidos") == true)
                                            {
                                                @Html.ActionLink("Pedidos de Peças", "Index", "Pedidos", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSumarizados") == true)
                                            {
                                                @Html.ActionLink("Pedidos Sumarizados", "Index", "Sumarizados", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            <div class="dropdown-divider"></div>

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuEquipamentosDevolvidos") == true)
                                            {
                                                @Html.ActionLink("Equipamentos Devolvidos", "Index", "Devolvidos", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuLocados") == true)
                                            {
                                                @Html.ActionLink("Equipamentos Locados", "Index", "Locados", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuInventarios") == true)
                                            {
                                                @Html.ActionLink("Inventário", "Index", "Inventarios", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuDistribuidor") == true)
                                            {
                                                @Html.ActionLink("Locações por DI", "Index", "Distribuidor", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            <div class="dropdown-divider"></div>

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuAnaliseConsumo") == true)
                                            {
                                                @Html.ActionLink("Análise de Consumo", "Index", "AnaliseConsumo", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuAcompanhamentos") == true)
                                            {
                                                @Html.ActionLink("Análise de Vendas - Acomp. Preço", "Index", "Acompanhamentos", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuCompletos") == true)
                                            {
                                                @Html.ActionLink("Análise de Vendas - Completo", "Index", "Completos", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuResumos") == true)
                                            {
                                                @Html.ActionLink("Análise de Vendas - Resumo", "Index", "Resumos", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuRetornoEquipamento5a") == true)
                                            {
                                                @Html.ActionLink("Retorno de Equipamento - 5a", "Index", "Recolhidos", new { area = "" }, new { @class = "dropdown-item" })
                                            }
                                        </div>
                                    </li>
                                }

                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuDashboard") == true)
                                {
                                    <li class="nav-item dropdown active">
                                        @*<a class="nav-link" href="Dashboard/AreaTecnica" id="navDashboard">Dashboard</a>*@
                                        <a class="nav-link dropdown-toggle" href="#" id="navDashboard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                                        <div class="dropdown-menu" aria-labelledby="navDashboard">
                                            @*@if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "AreaTecnica") == true)
                    {*@
                                            @Html.ActionLink("Área Técnica", "AreaTecnica", "Dashboard", new { area = "" }, new { @class = "dropdown-item" })
                                            @*}

                    @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "Negocio") == true)
                    {*@
                                            @Html.ActionLink("Negócios", "Negocios", "Dashboard", new { area = "" }, new { @class = "dropdown-item" })
                                            @*}

                    @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "Planejamento") == true)
                    {*@
                                            @Html.ActionLink("Planejamento", "Planejamento", "Dashboard", new { area = "" }, new { @class = "dropdown-item" })
                                            @*}

                    @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "Vendas") == true)
                    {*@
                                            @Html.ActionLink("Vendas", "Vendas", "Dashboard", new { area = "" }, new { @class = "dropdown-item" })
                                            @*}*@
                                        </div>
                                    </li>
                                }

                                @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSeguranca") == true)
                                {
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navSeguranca" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Segurança</a>
                                        <div class="dropdown-menu" aria-labelledby="navSeguranca">
                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSEGFuncao") == true)
                                            {
                                                @Html.ActionLink("Função", "Index", "Funcao", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSEGParametros") == true)
                                            {
                                                @Html.ActionLink("Parâmetros", "Index", "Parametro", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSEGPerfil") == true)
                                            {
                                                @Html.ActionLink("Perfil", "Index", "Perfil", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSEGPerfilFuncao") == true)
                                            {
                                                @Html.ActionLink("Perfil X Função", "Editar", "PerfilXFuncao", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSEGUsuario") == true)
                                            {
                                                @Html.ActionLink("Usuário", "Index", "Usuario", new { area = "" }, new { @class = "dropdown-item" })
                                            }

                                            @if (_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificarAcesso(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario, "menuSEGTeste") == true)
                                            {
                                                @Html.ActionLink("Teste Desenvolvedor", "Index", "Teste", new { area = "" }, new { @class = "dropdown-item" })
                                            }
                                        </div>
                                    </li>
                                }



                            </ul>

                            <form class="form-inline mt-2 mt-md-0">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navUsuario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario.cnmNome) (@(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).perfil.cdsPerfil))
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navUsuario">
                                            @Html.ActionLink("Logoff", "LogOff", "Usuario", new { area = "" }, new { @class = "dropdown-item" })
                                            @if (((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).bidPermitirTrocarSenha == true)
                                            {
                                                @Html.ActionLink("Trocar senha", "TrocarSenha", "Usuario", new { area = "" }, new { @class = "dropdown-item" })
                                            }
                                        </div>
                                    </li>
                                </ul>
                            </form>

                        </div>
                        <!--Fim Barra de Menus e Usuário Logado-->
                    }
                    else
                    {
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav mr-auto">
                                @*<li class="nav-item">
                                    <a class="nav-link disabled" href="#">Tabelas de Apoio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Cadastro</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Segurança</a>
                                </li>*@
                            </ul>
                        </div>
                        @Html.ActionLink("Login", "Login", "Usuario", new { area = "" }, new { @class = "control-label text-white" })
                    }
                </nav>

            </div>
        </div>
        <div class="container body-content">
            <div style="height: 15px"></div>
            @RenderBody()
            @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WABR IT Solution</p>
        </footer>*@

            <div id="loader" style="display: none">
                <div class="loading">
                    <img src="@Url.Content("~/Images/loading-2.gif")" />
                    <br />
                    <span>Carregando...</span>
                </div>
                <div class="loading_background"></div>
            </div>

        </div>

        <style type="text/css">
            .loading {
                /*display: none;*/
                position: fixed;
                top: 360px;
                left: 50%;
                margin-top: -50px;
                margin-left: -100px;
                vertical-align: middle;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                background-color: white;
                border: 1px solid #a3a2a2;
                height: 165px;
                width: 160px;
                z-index: 999999;
            }

        .loading_background {
            position: fixed;
            top: 0px;
            left: 0px;
            height: 100vh;
            width: 100vw;
            background-color: #949494;
            opacity: 0.30;
            z-index: 1030;
        }
        </style>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @*Para usar o GRID.MVC*@
        <script src="@Url.Content("~/Scripts/gridmvc.js")" type="text/javascript"></script>

        <script type="text/javascript">
            //Para utilização de filtros em páginas com postback
            $('.dropdown-item').click(function () {
                if (localStorage.getItem("action") != null) {
                    localStorage.removeItem("action");
                    localStorage.removeItem("jsonData");
                    localStorage.removeItem("container");
                }

                LimparFiltroSolicitacaoPeca();
                LimparScrollWorkflow();

            });

            // Para manter o browser na mesma posição horizontal de rolagem (scroll) após postback
            jQuery(document).ready(function () {
                //if (localStorage['page'] == document.URL) {
                var page = 'page_' + document.location.hostname + document.location.pathname;
                var scrollTop = 'scrollTop_' + document.location.hostname + document.location.pathname;

                if (localStorage[page] == document.location.protocol + "//" + document.location.hostname + document.location.pathname) {
                    $(document).scrollTop(localStorage[scrollTop]);
                }
                //localStorage.removeItem('action');
            });

            jQuery(document).scroll(function () {
                //localStorage['page'] = document.URL;
                var page = 'page_' + document.location.hostname + document.location.pathname;
                var scrollTop = 'scrollTop_' + document.location.hostname + document.location.pathname;

                localStorage[page] = document.location.protocol + "//" + document.location.hostname + document.location.pathname;
                localStorage[scrollTop] = $(document).scrollTop();
            });

            function LimparFiltroSolicitacaoPeca() {
                localStorage.removeItem('SolicitacaoPecas_CD_CLIENTE');
                localStorage.removeItem('SolicitacaoPecas_CD_TECNICO');
                localStorage.removeItem('SolicitacaoPecas_CD_PEDIDO');
                localStorage.removeItem('SolicitacaoPecas_DT_CRIACAO_INICIO');
                localStorage.removeItem('SolicitacaoPecas_DT_CRIACAO_FIM');
                localStorage.removeItem('SolicitacaoPecas_ID_STATUS_PEDIDO');
            };

            function LimparScrollWorkflow() {
                var scrollTop = 'scrollTop_' + document.location.hostname + document.location.pathname;

                localStorage.removeItem(scrollTop);
            }
        </script>
</body>
</html>
