@model _3M.Comodato.Front.Models.WfPedidoEquipamentoItemFiltro
@{
    ViewBag.Title = "Equipamento - Solicitação de Envio/Retorno";
}

<i class="fas fa-cubes fa-3x fa-pull-left"></i>
<h3>Equipamento - Solicitação de Envio/Retorno</h3>
<p>
    <hr />

    <div class="well">
        <div class="container">

            <div class="form-row">
                <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <label class="control-label">Visão dos Pedidos:</label>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.VisaoPedidos, Model.ListaVisaoPedidos, new { @class = "form-control col-12" })
                    </div>
                </div>

                <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <label class="control-label">Período Cadastro:</label>
                    <div id="DT_FILTRO-container">
                        <div class="input-daterange input-group">
                            @Html.TextBoxFor(model => model.DataCadastroInicio, "{0:dd/MM/yyyy}", new { @class = "form-control col-12" })
                            <span class="input-group-addon">&nbsp;até&nbsp;</span>
                            @Html.TextBoxFor(model => model.DataCadastroFim, "{0:dd/MM/yyyy}", new { @class = "form-control col-12" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label">Tipo de Solicitação</label>
                    @Html.DropDownListFor(model => model.TipoSolicitacao, Model.ListaTipoSolicitacao, "Selecione...", new { @class = "js-select-basic-single col-md-12" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Código Pedido:</label>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.CodigoPedido, new { @class = "form-control col-md-12" })
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="control-label">Solicitante:</label>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.Solicitante, Model.ListaSolicitante, new { @class = "js-select-basic-single col-md-12" })
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Tipo Pedido:</label>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.TipoPedido, Model.ListaStatus, new { @class = "js-select-basic-single col-md-12" })
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Status:</label>
                    <div class="form-group">
                        <select id="Status" class="js-select-basic-single col-md-12"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="btnImprimir" type="button" class="btn btn-primary">Imprimir</button>
                    <button id="btnConsultar" type="button" class="btn btn-primary">Consultar</button>
                    <!--As linhas de baixo servem apenas para testar os JOB´s de E-mails do Workflow*-->
                    @*<button id="btnJOBDiario" type="button" class="btn btn-primary">JOB Diário</button>
                      <button id="btnJOBAdministrador" type="button" class="btn btn-primary">JOB Administrador</button>*@
                </div>
            </div>
        </div>
    </div>
    <br />

    <div id="gridMvc"></div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="~/Scripts/Comodato/Util.js"></script>
        <script type="text/javascript" src="~/Scripts/Comodato/WorkflowPedido.js"></script>
        <script type="text/javascript">
            var URLAPI = '@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro(_3M.Comodato.Utility.ControlesUtility.Constantes.URLAPI)';
            var URLSite = "@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro(_3M.Comodato.Utility.ControlesUtility.Constantes.URLSite)";
            var nidUsuario = @Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario.nidUsuario);

            var nidUsuario = @Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario.nidUsuario);
            var nidPerfil = @Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).perfil.nidPerfil);
            var perfilAdministrador3M = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.Perfil.Administrador3M);
            var perfilEquipeMKT = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.Perfil.EquipeMKT);
            var perfilEquipeVendas = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.Perfil.EquipeVendas);
            var perfilRegional = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.Perfil.GerenteRegionaldeVendas);
            var perfilNacional = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.Perfil.GerenteNacionaldeVendas);

            var URLCriptografarChave = "@Url.Action("CriptografarChaveJson")";
            var actionConsultar = '@Url.Action("PopularGridSolicitacoes", "Workflow")';
        </script>
    }
