@model _3M.Comodato.Front.Models.AtivoCliente

@{
    ViewBag.Title = "Equipamento X Cliente";
}

<i class="fas fa-cubes fa-3x fa-pull-left"></i>
<h3>Equipamento X Cliente (Incluir)</h3>

<div class="well">

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.TP_ACAO)

            <div class="form-group">
                <label class="control-label">Cliente</label>
                @Html.DropDownListFor(model => model.cliente.CD_CLIENTE, new SelectList(Model.clientes, "CD_CLIENTE", "NM_CLIENTE"), new { @class = "js-example-basic-single", @style = "width: 100%" })
                <label id="validaCD_CLIENTE" class="control-label text-danger" style="display: none;">Conteúdo obrigatório!</label>
            </div>
            <div class="form-row">
                <div class="form-group col-2">
                    <label class="control-label">Nr. do Ativo</label>
                    @*                @Html.DropDownListFor(model => model.ativoFixo.CD_ATIVO_FIXO, new SelectList(Model.ativosFixos, "CD_ATIVO_FIXO", "modelo.DS_MODELO"), new { @class = "js-example-basic-single", @style = "width: 100%" })*@
                    @Html.EditorFor(model => model.ativoFixo.CD_ATIVO_FIXO, new { htmlAttributes = new { @class = "form-control col-12" } })
                    <label id="validaCD_ATIVO_FIXO" class="control-label text-danger" style="display: none;">Ativo e Modelo obrigatório!</label>
                </div>
                <div class="form-group col-1">
                    <label class="control-label">&nbsp;</label>
                    <button class="btn btn-primary btn-sm" type="button" id="btnConsultar">Consultar</button>
                </div>
                <div class="form-group col-4">
                    <label class="control-label">Modelo do Ativo</label>
                    @Html.TextBox("DS_MODELO", "", new { @class = "form-control col-md-12", @readonly = "readonly" })
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-6">
                    <label class="control-label">Razão do Comodato</label>
                    @Html.DropDownListFor(model => model.razaoComodato.CD_RAZAO_COMODATO, new SelectList(Model.razoesComodatos, "CD_RAZAO_COMODATO", "DS_RAZAO_COMODATO"), new { @class = "valid form-control col-12" })
                </div>

                <div class="form-group col-6">
                    <label class="control-label">Tipo de Serviço</label>
                    @Html.DropDownListFor(model => model.tipo.CD_TIPO, new SelectList(Model.tipos, "CD_TIPO", "DS_TIPO"), new { @class = "valid form-control col-12" })
                    @*@Html.DropDownList("tipo_CD_TIPO", new SelectList(Model.tipos, "CD_TIPO", "DS_TIPO"), new { @class = "valid form-control col-12" })*@
                    @*@Html.HiddenFor(model => model.tipo.CD_TIPO)*@
                    @Html.ValidationMessageFor(model => model.tipo.CD_TIPO, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-row">
                    <div class="form-group col-3">
                        <label class="control-label">Status de Devolução</label>
                        @Html.DropDownListFor(model => model.razaoComodato.CD_RAZAO_COMODATO, new SelectList(Model.razoesComodatos, "CD_RAZAO_COMODATO", "DS_RAZAO_COMODATO"), new { @class = "valid form-control col-12" })
                    </div>
                </div>*@

            <div class="form-row">
                <div class="form-group col-3">
                    <label class="control-label">Data de Devolução</label>
                    <div id="DT_DEVOLUCAO-container">
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DT_DEVOLUCAO, "{0:dd/MM/yyyy}", new { @class = "form-control col-12" })
                            <div class="input-group-addon">
                                <i class="far fa-calendar-alt fa-2x" style="background: #d9d6d6; padding: 3px 3px 3px 3px"></i>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => Model.DT_DEVOLUCAO, "", new { @class = "text-danger" })
                    <label id="validaDT_DEVOLUCAO" class="control-label text-danger" style="display: none;">Conteúdo obrigatório!</label>
                </div>

                <div class="form-group col-2">
                    <label class="control-label">Destino</label>
                    @Html.DropDownListFor(model => model.motivoDevolucao.CD_MOTIVO_DEVOLUCAO, new SelectList(Model.motivosDevolucoes, "CD_MOTIVO_DEVOLUCAO", "DS_MOTIVO_DEVOLUCAO"), new { @class = "valid form-control col-12" })
                    <label id="validaCD_MOTIVO_DEVOLUCAO" class="control-label text-danger" style="display: none;">Conteúdo obrigatório!</label>
                </div>

                <div class="form-group- col-2">
                    <label class="control-label">Termo Pagto.</label>
                    @Html.EditorFor(model => model.TX_TERMOPGTO, new { htmlAttributes = new { @class = "form-control col-12" } })
                    @Html.ValidationMessageFor(model => Model.TX_TERMOPGTO, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-2">
                    <label class="control-label">Valor do Aluguel</label>
                    @Html.EditorFor(model => model.VL_ALUGUEL, new { htmlAttributes = new { @class = "form-control col-12" } })
                    @Html.ValidationMessageFor(model => Model.VL_ALUGUEL, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-3">
                    <label class="control-label">Tempo de locação (Meses)</label>
                    @Html.EditorFor(model => model.QTD_MESES_LOCACAO, new { htmlAttributes = new { @class = "form-control col-12" } })
                    @Html.ValidationMessageFor(model => Model.QTD_MESES_LOCACAO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-3">
                    <label class="control-label">Data da Nota Fiscal</label>
                    <div id="DT_NOTAFISCAL-container">
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DT_NOTAFISCAL, "{0:dd/MM/yyyy}", new { @class = "form-control col-12" })
                            <div class="input-group-addon">
                                <i class="far fa-calendar-alt fa-2x" style="background: #d9d6d6; padding: 3px 3px 3px 3px"></i>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => Model.DT_NOTAFISCAL, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-2">
                    <label class="control-label">Nr. Nota</label>
                    @Html.EditorFor(model => model.NR_NOTAFISCAL, new { htmlAttributes = new { @class = "form-control col-12" } })
                    @Html.ValidationMessageFor(model => Model.NR_NOTAFISCAL, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-7">
                    <label class="control-label">Anexo Nota</label>
                    <div class="input-group col-md-12">
                        @Html.HiddenFor(model => model.DS_ARQUIVO_FOTO)
                        <div class="custom-file">
                            <input style="z-index:-1" type="file" id="file" class="custom-file-input" onchange="SelecionarArquivo(this, $('#labelFile'), $('#fileUpload'));">
                            <label class="custom-file-label" id="labelFile" for="file">Selecionar Arquivo</label>
                        </div>

                        <div class="col-md-3 alig">
                            <a href="#" id="fileUpload" title="Enviar Anexo" style="visibility:hidden;"><i class="fas fa-2x fa-upload"></i></a> &nbsp;
                            @if (!string.IsNullOrEmpty(Model.DS_ARQUIVO_FOTO))
                            {
                                @Html.ActionLink(" ", "DownloadFile", new { pastaConstante = "PastaAtivoClienteNF", fileName = Model.DS_ARQUIVO_FOTO }, new { @class = "fas fa-2x fa-file", @title = "Baixar Anexo" })
                                <a href="#" id="fileEraser" title="Apagar Anexo" name="@Model.DS_ARQUIVO_FOTO" for="DS_ARQUIVO_FOTO"><i class="fas fa-2x fa-eraser"></i></a>
                            }
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group offset-3">
                </div>

                <div class="form-group offset-2">
                </div>

                <div class="form-group col-7">
                    <label class="control-label">Anexo Foto</label>
                    <div class="input-group col-md-12">
                        @Html.HiddenFor(model => model.DS_ARQUIVO_FOTO2)
                        <div class="custom-file">
                            <input style="z-index:-1" type="file" id="file2" class="custom-file-input" onchange="SelecionarArquivo(this, $('#labelFile2'), $('#fileUpload2'));">
                            <label class="custom-file-label" id="labelFile2" for="file2">Selecionar Arquivo</label>
                        </div>

                        <div class="col-md-3 alig">
                            <a href="#" id="fileUpload2" title="Enviar Anexo" style="visibility:hidden;"><i class="fas fa-2x fa-upload"></i></a> &nbsp;
                            @if (!string.IsNullOrEmpty(Model.DS_ARQUIVO_FOTO2))
                            {
                                @Html.ActionLink(" ", "DownloadFile", new { pastaConstante = "PastaAtivoClienteNF", fileName = Model.DS_ARQUIVO_FOTO2 }, new { @class = "fas fa-2x fa-camera", @title = "Baixar Anexo" })
                                <a href="#" id="fileEraser2" title="Apagar Anexo" name="@Model.DS_ARQUIVO_FOTO2" for="DS_ARQUIVO_FOTO2"><i class="fas fa-2x fa-eraser"></i></a>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-15">
                    <input type="checkbox" id="garantia" onclick="checarGarantia()">
                    @*@Html.CheckBox("Possui Garantia", false)*@
                    <label class="control-label">Possui Garantia de Reforma?</label>
                </div>
            </div>

            <div class="form-row" id="Form_DT_FIM_GARANTIA_REFORMA_container">
                <div class="form-group col-3">
                    <label class="control-label">Data Fim Garantia Reforma</label>
                    <div id="DT_FIM_GARANTIA_REFORMA_container">
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DT_FIM_GARANTIA_REFORMA, "{0:dd/MM/yyyy}", new { @class = "form-control col-12" })
                            @*<input type="text" id="DT_FIM_GARANTIA_REFORMA" class="form-control col-12" pattern="{0:dd/MM/yyyy}" />*@
                            <div class="input-group-addon">
                                <i class="far fa-calendar-alt fa-2x" style="background: #d9d6d6; padding: 3px 3px 3px 3px"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <br />
                    @Html.TextBoxFor(model => model.DT_SUGESTAO, new { @class = "form-control col-12", @readonly = true })
                    <br />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Observações</label>
                @Html.EditorFor(model => model.TX_OBS, new { htmlAttributes = new { @class = "form-control col-12", @rows = 3 } })
                @Html.ValidationMessageFor(model => model.TX_OBS, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" id="btnGravarContinuar" value="Gravar e continuar" class="btn btn-primary btn-sm" />
                <input type="submit" id="btnGravarSair" value="Gravar e sair" class="btn btn-primary btn-sm" />
                @Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
            </div>

        </div>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript" src="~/Scripts/Comodato/AtivoCliente.js"></script>
    <script type="text/javascript" src="~/Scripts/Comodato/Util.js"></script>

    <script type="text/javascript">
        var URLAPI = "@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro(_3M.Comodato.Utility.ControlesUtility.Constantes.URLAPI)";
        var URL_UPLOAD = '@Url.Action("Upload")';
        var URL_CLEAR = '@Url.Action("clearFile")';
        var nidUsuario = @Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario.nidUsuario);

        var URLAlterarData = "@Url.Action("AlterarData", "Ativo")";
        var diasManutencao = "@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro("QtdDiasManutencao")";
        var URLObterModeloJson = "@Url.Action("ObterModeloJson", "AtivoCliente")";
        var token = "@Convert.ToString(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).token)";

    @Model.JavaScriptToRun

        function MensagemSucesso() {
            var mensagem = '@_3M.Comodato.Utility.ControlesUtility.Constantes.MensagemGravacaoSucesso';

            AlertaRedirect("Aviso", mensagem, "window.location = '../AtivoCliente';");
        };
        $('select#tipo_CD_TIPO').on('change', function () {
            $('input[type="hidden"]#tipo_CD_TIPO').val($('select#tipo_CD_TIPO option:selected').val());
        });

        function MensagemSucessoContinuar() {
            var mensagem = '@_3M.Comodato.Utility.ControlesUtility.Constantes.MensagemGravacaoSucesso';

            //$('#ativoFixo_CD_ATIVO_FIXO').val(null).trigger('change')
            $('#ativoFixo_CD_ATIVO_FIXO').val('');
            Alerta("Aviso", mensagem);
        };

        function MensagemBloqueio() {
            var mensagem = '@Model.Mensagem';
            Alerta("Gravação cancelada", mensagem);
        }

        //$('#Form_DT_FIM_GARANTIA_REFORMA_container').hide()

        //$('#Possui_Garantia').change(function () {
        //    var checked = $(this).is(':checked')
        //    if (checked) {
        //        $('#Form_DT_FIM_GARANTIA_REFORMA_container').show()
        //    } else {
        //        $('#Form_DT_FIM_GARANTIA_REFORMA_container').hide()

        //    }

        //})

    </script>
}

