@model _3M.Comodato.Front.Models.PreenchimentoSolicitacaoPecas

<!-- Modal -->
<div class="modal fade" id="PedidoPecaClienteModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Pedido de peça para cliente</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.pedidoPecaCliente.pedidoPeca.ID_ITEM_PEDIDO)

                    @if (Model.TP_Especial == "Especial")
                    {
                        <div class="form-horizontal">
                            <div class="form-row">

                                <div class="form-group col-12">
                                    <label class="control-label">Descrição</label>
                                    <input id="desc_peca" type="text" class="form-control col-12" maxlength="30" />
                                </div>
                            </div>

                        </div>
                    }

                    <div class="form-group">
                        <label class="control-label">Peça</label>
                        @Html.DropDownListFor(model => model.pedidoPecaCliente.peca.CD_PECA, new SelectList(Model.pedidoPecaCliente.listaPecas, "CD_PECA", "DS_PECA"), "Selecione...", new { @class = "js-example-basic-single", @style = "width: 100%" })
                        <label id="validaid_item_pedido_Cliente" class="control-label text-danger" style="display: none;">Conteúdo obrigatório!</label>
                        <label id="validaPecaDuplicadaPedido_Cliente" class="control-label text-danger" style="display: none;">Peça já cadastrada neste pedido!</label>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label class="control-label">Qtde. Estoque Cliente</label>
                            @Html.EditorFor(model => model.pedidoPecaCliente.DT_ULTIMA_UTILIZACAO, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                        </div>

                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label class="control-label">Qtde. em estoque</label>
                            @Html.EditorFor(model => model.pedidoPecaCliente.QTD_ESTOQUE, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                        </div>

                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label class="control-label">Qtde. Plano Zero</label>
                            @Html.EditorFor(model => model.pedidoPecaCliente.QTD_SUGERIDA_PZ, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label class="control-label">Qtde. pedida</label>
                            @Html.EditorFor(model => model.pedidoPecaCliente.pedidoPeca.QTD_SOLICITADA, new { htmlAttributes = new { @class = "form-control col-12" } })
                            <label class="control-label">(uso técnico)</label>
                            <label id="validaQTDSOLICITADA_Cliente" class="control-label text-danger" style="display: none;">Conteúdo obrigatório!</label>
                            <label id="validaQTDSOLICITADARange_Cliente" class="control-label text-danger" style="display: none;">Somente valor positivo acima de 0(zero)!</label>
                            <label id="validaQTDSOLICITADARangeMax_Cliente" class="control-label text-danger" style="display: none;">Limite de caracteres ultrapassado!</label>
                        </div>

                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label class="control-label">Qtde. aprovada</label>
                            @Html.EditorFor(model => model.pedidoPecaCliente.pedidoPeca.QTD_APROVADA, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                            <label class="control-label">(uso 3M)</label>
                            <label id="validaQTDAPROVADARange_Cliente" class="control-label text-danger" style="display: none;">Somente valor positivo!</label>
                            <label id="validaQTDAPROVADARangeMax_Cliente" class="control-label text-danger" style="display: none;">Limite de caracteres ultrapassado!</label>
                        </div>

                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label class="control-label">Qtde. recebida</label>
                            @Html.EditorFor(model => model.pedidoPecaCliente.pedidoPeca.QTD_RECEBIDA, new { htmlAttributes = new { @class = "form-control col-12" } })
                            <label class="control-label">(uso técnico)</label>
                            <label id="validaQTDRECEBIDARange_Cliente" class="control-label text-danger" style="display: none;">Somente valor positivo acima de 0(zero)!</label>
                            <label id="validaQTDRECEBIDARangeMax_Cliente" class="control-label text-danger" style="display: none;">Limite de caracteres ultrapassado!</label>
                        </div>
                    </div>

                    @if (Model.tipoOrigemPagina == "Aprovacao")
                    {
                        if (Model.TP_Especial != "Especial")
                        {
                            <label class="control-label">Estoque a debitar</label>
                            <div class="form-horizontal">
                                <div class="form-row">
                                    <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                        @if (@Model.pedidoPecaCliente.pedidoPeca.Estoque3M1 != null)
                                        {
                                            <label class="control-label">@Model.pedidoPecaCliente.pedidoPeca.Estoque3M1.CD_ESTOQUE.Trim()</label>
                                        }

                                        <div class="form-group">
                                            @if (@Model.pedidoPecaCliente.pedidoPeca.Estoque3M1 != null)
                                            {
                                                <input type="text" data-id="@Model.pedidoPecaCliente.pedidoPeca.Estoque3M1.ID_ESTOQUE.ToString()" class="form-control" id="txtEstoqueCliente3M1" />
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="txtEstoqueCliente3M1" />
                                            }

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                        <label class="control-label">Qtd. Disponível</label>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.pedidoPecaCliente.QTD_ESTOQUE_3M1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                        @if (@Model.pedidoPecaCliente.pedidoPeca.Estoque3M2 != null)
                                        {
                                            <label class="control-label">@Model.pedidoPecaCliente.pedidoPeca.Estoque3M2.CD_ESTOQUE.Trim()</label>
                                        }

                                        <div class="form-group">
                                            @if (@Model.pedidoPecaCliente.pedidoPeca.Estoque3M2 != null)
                                            {
                                                <input type="text" data-id="@Model.pedidoPecaCliente.pedidoPeca.Estoque3M2.ID_ESTOQUE.ToString()" class="form-control" id="txtEstoqueCliente3M2" />
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="txtEstoqueCliente3M2" />
                                            }

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                        <label class="control-label">Qtd. Disponível</label>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.pedidoPecaCliente.QTD_ESTOQUE_3M2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    @*<label class="control-label">Estoque a debitar</label>*@
                                    @*@Html.DropDownListFor(model => model.pedidoPecaTecnico.pedidoPeca.estoque.ID_ESTOQUE, new SelectList(Model.pedidoPecaTecnico.listaEstoques, "ID_ESTOQUE", "DS_ESTOQUE"), "Selecione...", new { @class = "js-example-basic-single", @style = "width: 100%" })*@
                                </div>
                            </div>

                            <div class="form-horizontal">
                                @if (@Model.pedidoPecaCliente.pedidoPeca.Estoque3M1 != null)
                                {
                                    <label id="validaIDESTOQUE_Cliente_3M1" class="control-label text-danger col-12" style="display: none;">O estoque @Model.pedidoPecaCliente.pedidoPeca.Estoque3M1.CD_ESTOQUE.Trim() não possui peça suficiente para aprovação!</label>
                                }
                                @if (@Model.pedidoPecaCliente.pedidoPeca.Estoque3M2 != null)
                                {
                                    <label id="validaIDESTOQUE_Cliente_3M2" class="control-label text-danger col-12" style="display: none;">O estoque @Model.pedidoPecaCliente.pedidoPeca.Estoque3M2.CD_ESTOQUE.Trim() não possui peça suficiente para aprovação!</label>
                                }


                            </div>
                        }
                        else
                        {
                            <div class="form-horizontal">
                                <div class="form-row">

                                    <div class="form-group col-sm-12 col-md-3 col-lg-3">


                                        @if (Model.TP_Especial == "Especial")
                                        {
                                            <label class="control-label">QTD AP. ESPECIAL</label>
                                            <div class="form-group">

                                                <input type="text" class="form-control" id="txtAprovaEspecial3M2Avulso" />

                                            </div>
                                        }


                                    </div>
                                    <div class="form-group col-sm-12 col-md-3 col-lg-3">


                                        @if (Model.TP_Especial == "Especial")
                                        {
                                            <label class="control-label">VL. PC. ESPECIAL</label>
                                            <div class="form-group">

                                                <input type="number" step="0.01" class="form-control" id="txtVLPeca" />

                                            </div>
                                        }


                                    </div>

                                </div>
                            </div>
                        }

                        @*<div class="form-row">
                <div class="form-group col-9">
                    <label class="control-label">Estoque a debitar</label>
                    @Html.DropDownListFor(model => model.pedidoPecaCliente.pedidoPeca.estoque.ID_ESTOQUE, new SelectList(Model.pedidoPecaCliente.listaEstoques, "ID_ESTOQUE", "DS_ESTOQUE"), "Selecione...", new { @class = "js-example-basic-single", @style = "width: 100%" })
                    <label id="validaIDESTOQUE_Cliente" class="control-label text-danger" style="display: none;">Peça não cadastrada para este estoque!</label>
                </div>

                <div class="form-group col-3">
                    <label class="control-label">Qtde. estoque 3M</label>
                    @Html.EditorFor(model => model.pedidoPecaCliente.QTD_ESTOQUE_3M, new { htmlAttributes = new { @class = "form-control col-12", @readonly = "readonly" } })
                </div>
            </div>*@
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.pedidoPecaCliente.pedidoPeca.Estoque3M1.ID_ESTOQUE)
                        @Html.HiddenFor(model => model.pedidoPecaCliente.pedidoPeca.Estoque3M2.ID_ESTOQUE)
                        if (@Model.pedidoPecaCliente.pedidoPeca.Estoque3M1 != null)
                        {
                            <input type="text" hidden data-id="@Model.pedidoPecaCliente.pedidoPeca.Estoque3M1.ID_ESTOQUE.ToString()" class="" id="txtEstoqueCliente3M1" />

                        }
                        else
                        {
                            <input type="text" hidden class="" id="txtEstoqueCliente3M1" />
                        }
                        if (@Model.pedidoPecaCliente.pedidoPeca.Estoque3M2 != null)
                        {
                            <input type="text" hidden data-id="@Model.pedidoPecaCliente.pedidoPeca.Estoque3M2.ID_ESTOQUE.ToString()" class="" id="txtEstoqueCliente3M2" />
                        }
                        else
                        {
                            <input type="text" hidden class="" id="txtEstoqueCliente3M2" />
                        }

                        <input type="text" hidden data-id="@Model.pedidoPecaCliente.pedidoPeca.QTD_APROVADA_3M1" class="" id="txtQtdAprovada3M1" />
                        <input type="text" hidden data-id="@Model.pedidoPecaCliente.pedidoPeca.QTD_APROVADA_3M2" class="" id="txtQtdAprovada3M2" />
                    }

                    <div class="form-horizontal">
                        <label class="control-label">Observações</label>
                        @Html.EditorFor(model => model.pedidoPecaCliente.pedidoPeca.DS_OBSERVACAO, new { htmlAttributes = new { @class = "form-control col-12", @rows = 3 } })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSalvarContinuarPedidoPecaClienteModal" onclick="SalvarPedidoPecaClienteModal();">Salvar e Continuar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSalvarPedidoPecaClienteModal">Salvar e Fechar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>


