@model _3M.Comodato.Front.Models.SolicitacaoPecas

@{
    ViewBag.Title = "Envio de Solicitação de Peças ao BPCS";
}

<i class="fas fa-cubes fa-3x fa-pull-left"></i>
<h3>Envio de Solicitação de Peças ao BPCS</h3>

<div class="well">

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <label class="control-label">Cliente</label>
                @Html.DropDownListFor(model => model.cliente.CD_CLIENTE, new SelectList(Model.clientes, "CD_CLIENTE", "NM_CLIENTE"), "Selecione...", new { @class = "js-example-basic-single ", @style = "width: 100% " })
            </div>

            <div class="form-row">
                <div class="form-group col-9">
                    <label class="control-label">Técnico</label>
                    @Html.DropDownListFor(model => model.tecnico.CD_TECNICO, new SelectList(Model.tecnicos, "CD_TECNICO", "NM_TECNICO"), "Selecione...", new { @class = "js-example-basic-single ", @style = "width: 100% " })
                    <label id="validaTecnico" class="control-label text-danger" style="display: none;">Técnico inválido ou não informado!</label>
                </div>

                <div class="form-group col-3">
                    <label class="control-label">Pedido</label>
                    @Html.DropDownListFor(model => model.CD_PEDIDO, new SelectList(Model.pedidos, "CD_PEDIDO_Formatado", "CD_DOCUMENTO"), "Selecione...", new { @class = "js-example-basic-single ", @style = "width: 100% " })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label class="control-label">Período</label>
                    <div id="DT_CRIACAO-container">
                        @*<div class="input-group date">*@
                        <div class="input-daterange input-group">
                            @Html.TextBoxFor(model => model.DT_CRIACAO_INICIO, "{0:dd/MM/yyyy}", new { @class = "form-control col-12" })
                            <span class="input-group-addon">&nbsp;até&nbsp;</span>
                            @Html.TextBoxFor(model => model.DT_CRIACAO_FIM, "{0:dd/MM/yyyy}", new { @class = "form-control col-12" })
                        </div>
                    </div>
                </div>

                @*<div class="form-group col-3">
                        <label class="control-label">Status do pedido</label>
                        @Html.DropDownListFor(model => model.statusPedido.ID_STATUS_PEDIDO, new SelectList(Model.statusPedidos, "ID_STATUS_PEDIDO", "DS_STATUS_PEDIDO"), new { @class = "valid form-control col-12" })
                    </div>*@

                <div class="form-group col-3">
                    <br />
                    <button class="btn btn-primary m-1" type="button" id="btnFiltrar">Filtrar</button>
                    <button class="btn btn-primary m-2" type="button" id="btnLimpar">Limpar</button>
                </div>
            </div>
        </div>
    }

</div>

<div id="gridmvc">
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#loader").css("display", "block");

        var URLObterListaSolicitacaoBPCS = "@Url.Action("ObterListaSolicitacaoBPCSJson", "SolicitacaoPecas")";
        var URLCriptografarChave = "@Url.Action("CriptografarChaveJson", "SolicitacaoPecas")";

        var UsuarioTecnico = '@_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificaUsuarioPerfisTecnicos(Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario.nidUsuario))';

        var URLAPI = "@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro(_3M.Comodato.Utility.ControlesUtility.Constantes.URLAPI)";   @*"@ViewBag.URLAPI";*@
        var URLSite = "@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro(_3M.Comodato.Utility.ControlesUtility.Constantes.URLSite)";
        var nidUsuario = @Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario.nidUsuario);  @*@ViewBag.nidUsuario;*@
        var nidPerfil = @Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).perfil.nidPerfil);
        var perfilCliente = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.Perfil.Cliente);
        var perfilAdministrador3M = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.Perfil.Administrador3M);

        var periodoINICIAL = "@DateTime.Now.AddDays(-90).ToString("dd/MM/yyyy")";
        var periodoFINAL = "@DateTime.Now.ToString("dd/MM/yyyy")";

        var tipoPedidoTecnico = "@_3M.Comodato.Utility.ControlesUtility.Dicionarios.TipoPedido().ToArray()[0].Value";
        var tipoPedidoAvulso = "@_3M.Comodato.Utility.ControlesUtility.Dicionarios.TipoPedido().ToArray()[1].Value";
        var tipoPedidoCliente = "@_3M.Comodato.Utility.ControlesUtility.Dicionarios.TipoPedido().ToArray()[2].Value";

        var statusNovoRascunho = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.StatusPedido.NovoRascunho);
        var statusSolicitado = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.StatusPedido.Solicitado);

        var totalClientes = 0;
        var carregarFiltroStatusPedido = false;
        var tipoOrigemPagina = "Aprovacao";
        var token = "@Convert.ToString(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).token)";

    </script>

    <script type="text/javascript" src="~/Scripts/Comodato/Util.js"></script>
    <script type="text/javascript" src="~/Scripts/Comodato/UtilTecnico.js"></script>
    <script type="text/javascript" src="~/Scripts/Comodato/UtilCliente.js"></script>
    <script type="text/javascript" src="~/Scripts/Comodato/UtilSolicitacaoPeca.js"></script>
    <script type="text/javascript" src="~/Scripts/Comodato/EnvioPecasBPCS.js"></script>
}


