
@{
    ViewBag.Title = "Equipamento X Cliente";
    var perfil = (_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"];

}


<i class="fas fa-cubes fa-3x fa-pull-left"></i>
<h3>Equipamento X Cliente</h3>

@if (perfil.perfil.ccdPerfil == 1 || perfil.perfil.ccdPerfil == 5)
{
    <p>
        <a class="btn btn-primary btn-sm" href="AtivoCliente/Incluir">Novo registro <i class="far fa-sticky-note"></i></a>
    </p>
}

<div class="well">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <div class="row">
                <div class="form-group col-4">
                    <label class="control-label">Número Ativo</label>
                    <div class="form-group">
                        <input type="text" id="CD_ATIVO_FIXO" class="form-control col-md-12">
                    </div>
                </div>
                <div class="form-group col-4">
                        <label class="control-label">Nota Fiscal</label>
                        <div class="form-group">
                            <input type="text" id="NR_NOTAFISCAL" class="form-control col-md-12">
                        </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label class="control-label">Cliente</label>
                    <div class="form-group">
                        <select id="cliente_CD_CLIENTE" class="js-select-basic-single form-control col-md-12"></select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary btn-sm" type="button" id="btnFiltrar">Filtrar</button>
                    <button class="btn btn-primary btn-sm" type="button" id="btnLimpar">Limpar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="gridMVCAtivoCliente"></div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var URLObterListaAtivoCliente = "@Url.Action("ObterListaAtivoClienteJson")";
        var URLAPI = "@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro(_3M.Comodato.Utility.ControlesUtility.Constantes.URLAPI)";
        var URLSITE = "@_3M.Comodato.Utility.ControlesUtility.Parametro.ObterValorParametro(_3M.Comodato.Utility.ControlesUtility.Constantes.URLSite)";

        var nidUsuario = @Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario.nidUsuario);
        var nidPerfil  = @Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).perfil.nidPerfil);
        var UsuarioTecnico = '@_3M.Comodato.Utility.ControlesUtility.Seguranca.VerificaUsuarioPerfisTecnicos(Convert.ToInt64(((_3M.Comodato.Entity.UsuarioPerfilEntity)Session["_CurrentUser"]).usuario.nidUsuario))';
        var perfilCliente = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.Perfil.Cliente);
        var perfilAdministrador3M = @Convert.ToInt64(_3M.Comodato.Utility.ControlesUtility.Enumeradores.Perfil.Administrador3M);
    </script>

    <script src="~/Scripts/Comodato/Util.js"></script>
    <script src="~/Scripts/Comodato/AtivoClienteFiltroGrid.js"></script>

}


