@model _3M.Comodato.Front.Models.LinhaProduto

@{
    ViewBag.Title = "Linha de Produto";
}

<i class="fas fa-cubes fa-3x fa-pull-left"></i>
<h3>Linha de Produto (Incluir)</h3>

<div class="well">

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <label class="control-label">Descrição</label>
                @Html.EditorFor(model => model.DS_LINHA_PRODUTO, new { htmlAttributes = new { @class = "form-control col-12" } })
                @Html.ValidationMessageFor(model => model.DS_LINHA_PRODUTO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="control-label">Expectativa Padrão</label>
                @Html.EditorFor(model => model.VL_EXPECTATIVA_PADRAO, new { htmlAttributes = new { @class = "form-control col-2" } })
                @Html.ValidationMessageFor(model => model.VL_EXPECTATIVA_PADRAO, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-12">
                    <input type="submit" value="Gravar" class="btn btn-primary btn-sm" />
                    @Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-primary btn-sm" })
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="~/Scripts/Comodato/LinhaProduto.js"></script>

    <script type="text/javascript" src="~/Scripts/Comodato/Util.js"></script>

    <script type="text/javascript">
     @Model.JavaScriptToRun

        function MensagemSucesso() {
            var mensagem = '@_3M.Comodato.Utility.ControlesUtility.Constantes.MensagemGravacaoSucesso';

            AlertaRedirect("Aviso", mensagem, "window.location = '../LinhaProduto';");
        };
    </script>
}


